doctype html(lang='zh-cn')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title yoho留言板
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/yoho_chat.css')
  body
    .container
      .row(style='margin-top:15px;')
        // 聊天区
        .col-sm-8
          // 聊天内容
          .panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-home
              | &nbsp; 留言板
                             
            .panel-body.chat-body
              //- .msg-list-body.msg-content
                .clearfix.msg-wrap
                  .msg-head
                    span.label.label-info.pull-left
                      span.glyphicon.glyphicon-user
                      |                         &nbsp;Sc&#x5343;&#x5BFB;
                                
                    span.label.label-success.pull-right
                      span.glyphicon.glyphicon-time
                      |                         &nbsp;21:34:15    
                |test 
              - for(var i=0;i<messages.length;i++) {
              .msg-list-body.msg-content
                .clearfix.msg-wrap
                  .msg-head
                    span.label.label-info.pull-left
                      span.glyphicon.glyphicon-user
                      | &nbsp;&nbsp;#{messages[i].nickname}
                                
                    span.label.label-success.pull-right
                      span.glyphicon.glyphicon-time
                      | &nbsp;&nbsp;#{messages[i].create_at.toLocaleString()}    
                | #{messages[i].comment}
              - }
        
              

          // 输入框
          form#message-form.input-group.input-group-lg(action='/leaveMessageAction', method='post')
            input#message-form-nickname(name='nickname', type='text', style='display:none')
            span.input-group-btn
              button#emotion-btn.btn.btn-default(type='button')
                img(src='', style='width:24px;height:24px;')
            input#input-edit.form-control(name='comment', type='text', placeholder='请输入聊天内容')
            span.input-group-btn
              button.btn.btn-default(type='submit') 发送
                span.glyphicon.glyphicon-send
        // 个人信息
        .col-sm-4
          .panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-user
              | &nbsp; 个人信息               
            .panel-body
              .col-sm-9
                h5#my-nickname
                  | 昵称： #{nickname}                     
              //- .col-sm-3
              //-   button.btn.btn-default(onclick='onClickChangeNickname()') 修改
        // 在线列表
        .col-sm-4
          .panel.panel-default
            .panel-heading
              span.glyphicon.glyphicon-list
              |                     &nbsp;注册用户
            |                 
            .panel-body.list-body
              table.table.table-hover.list-table
                - for(var i=0;i<users.length;i++) {
                tr
                  td(style='font-size: 14px;')
                    span.glyphicon.glyphicon-user(style='margin: 0 8px;')
                    | #{users[i].nickname}             
                - }
            #list-count.panel-footer 已注册用户 #{users.length} 人
    // Modal
    #login-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog
        form#login-form.modal-content(action='/loginAction', method='post')
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              |                     
              span.sr-only
            |                 
            h4#myModalLabel.modal-title 请先登录
          |             
          .modal-body
            .row
              .col-sm-8.col-sm-push-2
                #nickname-error.alert.alert-danger(role='alert',style='display:#{loginErrMsg.state}')
                  span.glyphicon.glyphicon-remove
                  | #{loginErrMsg.cont}                        
                |                         
                .input-group
                  span.input-group-addon 昵称
                  |                             
                  input#nickname-edit.form-control(name='nickname', type='text', placeholder='请输入昵称')
                .input-group(style='margin-top:15px')
                  span.input-group-addon 密码
                  |                             
                  input#nickname-edit.form-control(name='password', type='password', placeholder='请输入密码')
          |             
          .modal-footer
            button.btn.btn-primary(onclick='onClickLogin()') 登陆
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/yoho_chat_socket.js')
    script(src='/js/yoho_chat_ui.js')
    script.
      needToLogin();
